* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100vw;
  min-width: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}
.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 100%;
  padding-left: 2%;
}
.navbar__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navbar__logo-img {
  height: 60%;
  width: auto;
}
.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  height: 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.navbar__menu-img {
  height: 50%;
  width: auto;
}
.navbar__menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  min-height: 100vh;
  padding: 5% 0 0 5%;
  background-color: #fff;
  z-index: 9999;
}
.navbar__menu-close-img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1.2rem;
  padding: 0.5rem;
  margin: -0.5rem -0.5rem 4.5rem;
  cursor: pointer;
}
.navbar__menu-ul {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.navbar__menu-link {
  color: hsl(220deg, 13%, 13%);
}
.navbar__menu-background {
  width: 30vw;
  min-height: 100vh;
  position: fixed;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  background-color: hsla(0deg, 0%, 0%, 0.75);
  z-index: 9999;
}
.navbar__client-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 100%;
}
.navbar__client-panel-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navbar__client-panel-cart-button {
  height: 100%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
}
.navbar__client-panel-cart-product-quantity {
  min-width: 1.9rem;
  width: 80%;
  min-height: 1.3rem;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 200px;
}
.navbar__client-panel-cart-product-quantity-p {
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
.navbar__client-panel-cart-open {
  position: absolute;
  top: 12vh;
  left: 2vw;
  right: 2vw;
  min-width: 26.2rem;
  height: 80vw;
  min-height: 25.6rem;
  background-color: white;
  -webkit-box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
          box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
  z-index: 1;
}
.navbar__client-panel-cart-open-title {
  width: 100%;
  height: 20%;
  padding: 5%;
  border-bottom: 1px solid #E4E9F2;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.navbar__client-panel-cart-open-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__client-panel-cart-open-content-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80%;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: hsl(219deg, 9%, 45%);
}
.navbar__client-panel-cart-open-content-div--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__client-panel-cart-open-content-div-p {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: hsl(219deg, 9%, 45%);
}
.navbar__client-panel-cart-open-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.navbar__client-panel-cart-open-content-img {
  width: 100%;
  border-radius: 8px;
}
.navbar__client-panel-cart-open-content-img-container {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__client-panel-cart-open-content-order-info {
  padding: 0 10%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: hsl(219deg, 9%, 45%);
}
.navbar__client-panel-cart-open-content-order-info-container {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__client-panel-cart-open-content-span {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}
.navbar__client-panel-cart-open-content-close-button {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}
.navbar__client-panel-cart-open-content-close-img {
  width: 100%;
}
.navbar__client-panel-cart-open-content-button {
  max-height: 5.6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(26deg, 100%, 55%);
  border: 1px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 50px -20px hsl(26deg, 100%, 55%);
          box-shadow: 0px 20px 50px -20px hsl(26deg, 100%, 55%);
  cursor: pointer;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.navbar__client-panel-cart-open-content-button-p {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}
.navbar__client-panel-cart-img {
  height: 60%;
  min-height: 22px;
  width: auto;
}
.navbar__client-panel-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navbar__client-panel-profile-img {
  height: 70%;
  width: auto;
}

.display-none {
  display: none;
}

.main {
  min-height: 100vh;
  min-width: 280px;
}

.product {
  height: 100%;
}
.product__preview {
  height: 45%;
}
.product__preview-main-img {
  z-index: -1;
}
.product__preview-main-img-container {
  height: 100%;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.product__preview-images-container {
  display: none;
}
.product__preview-button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px;
  border-radius: 50%;
}
.product__preview-button-img {
  width: 7px;
  height: 10px;
  font-weight: bold;
}
.product__preview-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product__chart {
  width: 90%;
  max-width: 640px;
  margin: 2.5rem auto 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product__chart-company-name {
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.18rem;
  line-height: 1.5rem;
}
.product__chart-title {
  margin-bottom: 1.5rem;
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
}
.product__chart-description {
  margin-bottom: 2.4rem;
  color: hsl(219deg, 9%, 45%);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.product__chart-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.product__chart-price-actual {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: hsl(220deg, 13%, 13%);
}
.product__chart-price-discount {
  display: block;
  margin-left: 1.6rem;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  height: 2.5rem;
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.product__chart-price-previous {
  justify-self: flex-end;
  text-align: right;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: hsl(220deg, 14%, 75%);
}
.product__chart-order-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product__chart-order-quantity-container {
  height: 5.6rem;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(223deg, 64%, 98%);
  border: 1px;
  border-radius: 15px;
}
.product__chart-order-button-quantity {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product__chart-order-button-quantity-img {
  width: auto;
}
.product__chart-order-quantity {
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.product__chart-order-button {
  height: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(26deg, 100%, 55%);
  border: 1px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 50px -20px hsl(26deg, 100%, 55%);
          box-shadow: 0px 20px 50px -20px hsl(26deg, 100%, 55%);
  cursor: pointer;
}
.product__chart-order-button-img {
  width: 1.6rem;
  margin-right: 1.6rem;
  width: auto;
  display: inline;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.product__chart-order-button-text {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.product__chart-order-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 460px) {
  html {
    font-size: 11px;
  }
  .header {
    height: 12vh;
  }
  .navbar__client-panel-cart-open {
    top: 14vh;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 12px;
  }
  .navbar__client-panel-cart-open {
    left: calc(2vw + (100vw - 640px) / 2);
    right: calc(2vw + (100vw - 640px) / 2);
    max-height: 512px;
  }
  .navbar__client-panel-cart-product-quantity-p {
    font-size: 1.1rem;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 14px;
  }
  .navbar__client-panel-cart-product-quantity-p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .page-container {
    max-width: 1110px;
    margin: 0 auto;
  }
  html {
    font-size: 10px;
  }
  .header {
    height: 18vh;
    width: 85%;
    margin: 0 auto 5%;
    border-bottom: 1px solid hsl(223deg, 64%, 98%);
  }
  .navbar {
    height: 30%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .navbar__logo {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
  .navbar__logo-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar__logo-img {
    height: 40%;
  }
  .navbar__menu {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .navbar__menu-wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 0;
    background-color: transparent;
    z-index: 0;
  }
  .navbar__menu-close-img {
    display: none;
  }
  .navbar__menu-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.6rem;
  }
  .navbar__menu-link {
    font-size: 1.5rem;
    color: hsl(219deg, 9%, 45%);
  }
  .navbar__client-panel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .navbar__client-panel-cart {
    position: relative;
  }
  .navbar__client-panel-cart-open {
    position: absolute;
    top: 180%;
    left: -22rem;
    right: initial;
    min-width: initial;
    width: 36rem;
    max-width: initial;
    height: 25.6rem;
    min-height: initial;
    max-height: initial;
  }
  .navbar__client-panel-profile {
    padding-left: 10%;
  }
  .navbar__client-panel-profile-img {
    height: 100%;
  }
  .main {
    width: 85%;
    margin: 0 auto;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__preview {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .product__preview-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__preview-main-img {
    width: 80%;
    border-radius: 5%;
    z-index: -1;
  }
  .product__preview-main-img-container {
    height: 80%;
    width: 100%;
    max-width: initial;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
  }
  .product__preview-images-container {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__preview-image-container {
    width: 20%;
    border-radius: 15%;
    margin: 1.2rem 2px 2px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
  }
  .product__preview-img {
    width: 100%;
  }
  .product__preview-button {
    width: 56px;
    height: 56px;
  }
  .product__preview-button-img {
    width: 10px;
    height: 16px;
  }
  .product__preview-button-container {
    display: none;
    width: calc(80% + 56px);
    height: 56px;
  }
  .product__chart {
    width: initial;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    max-width: initial;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .product__chart-company-name {
    margin-top: 1.6rem;
  }
  .product__chart-order-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__chart-order-quantity-container {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    height: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .product__chart-order-button {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    height: 4.5rem;
  }
  .opacity {
    -webkit-filter: opacity(30%);
            filter: opacity(30%);
  }
  .border {
    border: 2px solid hsl(26deg, 100%, 55%);
  }
  .gallery {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
    max-width: 640px;
    height: 70%;
    max-height: 680px;
    z-index: 3;
  }
  .gallery__close-img {
    display: inline-block;
    width: 4%;
    position: absolute;
    left: 100%;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .gallery__close-img:hover {
    -webkit-filter: invert(61%) sepia(52%) saturate(3930%) hue-rotate(348deg) brightness(102%) contrast(101%);
            filter: invert(61%) sepia(52%) saturate(3930%) hue-rotate(348deg) brightness(102%) contrast(101%);
  }
  .gallery__close-img-container {
    width: 80%;
    height: 20px;
    margin: 0 auto;
    position: relative;
  }
  .gallery-product {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-product__preview {
    height: 100%;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .gallery-product__preview-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-product__preview-main-img {
    width: 80%;
    border-radius: 5%;
    z-index: -1;
  }
  .gallery-product__preview-main-img-container {
    height: 80%;
    width: 100%;
    max-width: initial;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
  }
  .gallery-product__preview-images-container {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery-product__preview-image-container {
    width: 20%;
    border-radius: 15%;
    margin: 1.2rem 2px 2px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
  }
  .gallery-product__preview-img {
    width: 100%;
  }
  .gallery-product__preview-button {
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border: 1px;
    border-radius: 50%;
  }
  .gallery-product__preview-button-img {
    width: 10px;
    height: 16px;
    font-weight: bold;
  }
  .gallery-product__preview-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(80% + 56px);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 56px;
    position: absolute;
    top: 50%;
  }
  .gallery-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0deg, 0%, 0%, 0.75);
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */